{% extends "layout.html" %}
{% block content %}

<div class="ui container">
    <form class="ui form">
        <h3 class="ui dividing header">Add Record</h3>
        <div class="two fields">
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="Price">
            </div>
            <div class="field">
                <label>Quantity</label>
                <input type="text" name="price" placeholder="Quantity">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>Year</label>
                <input type="text" name="year" placeholder="Year">
            </div>
            <div class="field">
                <label>Artist</label>
                <input type="text" name="artist" placeholder="Artist">
            </div>
        </div>
     
            <div class="two fields">
                <div class="field">
                    <label>Type</label>
                    <input type="text" name="type" placeholder="Type">
                </div>
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                </div>
            </div>

        <button class="ui primary button" type="submit">Submit</button>
    </form>
</div>

{% endblock %}