{% extends "layout.html" %}
{% block content %}

<h1 id="tableTitle">Customers</h1>

<div class="head-btn-wrapper">
  <form action="/customers/add-customer">
    <input type="submit" class="big ui primary button" id="addBtn" value="Add Customer">
  </form>

  <form action="/purchases">
    <input type="submit" class="big ui primary button" id="addBtn" value="View All Purchases">
  </form>
</div>

<table class="ui striped table customer-table" id="customerTable">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Street Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>E-mail address</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      
      {% for customer in customers %}
      <tr id="{{ customer.id }}">
          
          <td class="cust-input">{{ customer.fname }} {{customer.lname }}</td>
          <td class="cust-input">{{ customer.street }}</td>
          <td class="cust-input">{{ customer.city }}, {{ customer.state }}</td>
          <td class="cust-input">{{ customer.zip }}</td>
          <td class="cust-input">{{ customer.email }}</td>
          <td class="cust-input">{{ customer.phone }}</td>
          <td><input type="submit" value="Delete" class="ui red button"></td>
          <td><input type="submit" value="Update" class="ui teal button" id="{{ customer.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  <script>
    const customerTable = document.getElementById('customerTable');


    customerTable.addEventListener('click', function(){
        let target = event.target;
        if(target.value == 'Update'){
            var confirm = makeConfirm(target)
            updateCustomerRow(target.id);
        }
    });


    const updateCustomerRow = (id) => {
        var rowToUpdate = document.getElementById(id);
        
        dataCell = rowToUpdate.getElementsByClassName('cust-input');

        for(var i = 0; i < dataCell.length; i++){
            input = document.createElement('input');

            input.setAttribute('type', 'text');

            input.setAttribute('size', '17')

            input.setAttribute('value', dataCell[i].innerHTML)

            dataCell[i].innerHTML = '';

            dataCell[i].append(input);
        }
    }


    const makeConfirm = (button) => {
        button.setAttribute('value', 'Confirm');
        button.style.backgroundColor = 'rgb(100, 150, 240)'
        return button;
    }
  </script>

{% endblock %}
