{% extends "layout.html" %}
{% block content %}

<h1 id="customerTitle">Customers</h1>

<form action="/customers/add-customer">
  <input type="submit" class="big ui primary button" id="addCustomerBtn" value="Add Customer">
</form>

<table class="ui striped table customer-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Street Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>E-mail address</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
          <td>{{ customer.id }}</td>
          <td>{{ customer.fname }} {{customer.lname }}</td>
          <td>{{ customer.street }}</td>
          <td>{{ customer.city }}, {{ customer.state }}</td>
          <td>{{ customer.zip }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  


{% endblock %}
