<h1>Customers</h1>

<table border="2">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Street</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <!-- Database info here -->
    </tbody>
</table>


<input type="button" name="add" id="addCustomer" value="Add Customer">
<input type="button" name="delete" id="deleteCustomer" value="Delete Customer">
<input type="button" name="update" id="updateCustomer" value="Update Customer">

<form action="" method="POST">
    <input type="text" name="" id="test">
    <input type="button" name="" id="testBtn" value="test">
</form>


<script src="/static/index.js"></script>