{% extends "layout.html" %}
{% block content%}


    <div class="home-header">
        <h1 id="title">Groovie's Record Shop</h1>
        <div class="button-wrapper">
            <input class="big ui button" type="button" name="records" id="records" value="Records" onclick="location.href='/records';">
            <input class="big ui button" type="button" name="customers" id="customers" value="Customer Info" onclick="location.href='/customers';">
            <input class="big ui button" type="button" name="distributors" id="distributors" value="Distributor Info" onclick="location.href='/distributors';">
        </div>
    </div>

    

{% endblock content%}