<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    {% if title %}
        <title>Groovie's - {{ title }}</title>
    {% else %}
        <title>Groovie's</title>
    {% endif %}

</head>
<body>

  <div class="ui menu" id="navbar">
    <a class="item" href="/home">
      <i class="home icon"></i> Home
    </a>
    
    
    <div class="right menu">
      
      <div class="ui simple dropdown item">
        Customers
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/customers">View Customers</a>
          <a class="item" href="/purchases">View Purchases</a>
          <a class="item" href="/purchases/add-purchase">Add Purchase</a>
          <a class="item" href="/customers/add-customer">Add a Customer</a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Distributors
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/distributors">View Distributors</a>
          <a class="item" href="/distributors/add-distributor">Add Distributor</a>
          <a class="item" href="/orders">View Orders</a>
          <a class="item" href="/orders/add-order/select-distributor">Create an Order</a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Records
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/records">View Records</a>
          <a class="item" href="/records/add-record">Add a Record</a>
        </div>
      </div>
    </div>
  </div>
      
        
      </div>
    {% block content%}
    {% endblock %}

</body>
<script src="/static/index.js"></script>
</html> 