<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    {% if title %}
        <title>Groovie's - {{ title }}</title>
    {% else %}
        <title>Groovie's</title>
    {% endif %}

</head>
<body>
    <div class="ui menu" id="navbar">
        
          <a class="active item" href="/home">
            Home
          </a>
          <div class="right menu">
            <a class="right item" href="/customers">
              Customers
            </a>
            <a class="item" href="/distributors">
              Distributors
            </a>
            <a class="item" href="/records">
              Records
            </a>
        </div>
      
        
      </div>
    {% block content%}
    {% endblock %}

</body>
<script src="/static/index.js"></script>
</html> 