{% extends "layout.html" %}
{% block content %}

<h1 id="tableTitle">orders</h1>

<div class="head-btn-wrapper">
  <form action="/orders/add-order">
    <input type="submit" class="big ui primary button" id="addBtn" value="Add Order">
  </form>
 </div>

<table class="ui striped table order-table" id="orderTable">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Street Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>E-mail address</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      
      {% for order in orders %}
      <tr id="{{ order.id }}">
          
          <td class="cust-input">{{ order.fname }} {{order.lname }}</td>
          <td class="cust-input">{{ order.street }}</td>
          <td class="cust-input">{{ order.city }}, {{ order.state }}</td>
          <td class="cust-input">{{ order.zip }}</td>
          <td class="cust-input">{{ order.email }}</td>
          <td class="cust-input">{{ order.phone }}</td>
          <td><input type="submit" value="Delete" class="ui red button"></td>
          <td><input type="submit" value="Update" class="ui teal button" id="{{ order.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  <script>
    const orderTable = document.getElementById('orderTable');


    orderTable.addEventListener('click', function(){
        let target = event.target;
        if(target.value == 'Update'){
            var confirm = makeConfirm(target)
            updateorderRow(target.id);
        }
    });


    const updateorderRow = (id) => {
        var rowToUpdate = document.getElementById(id);
        
        dataCell = rowToUpdate.getElementsByClassName('cust-input');

        for(var i = 0; i < dataCell.length; i++){
            input = document.createElement('input');

            input.setAttribute('type', 'text');

            input.setAttribute('size', '17')

            input.setAttribute('value', dataCell[i].innerHTML)

            dataCell[i].innerHTML = '';

            dataCell[i].append(input);
        }
    }


    const makeConfirm = (button) => {
        button.setAttribute('value', 'Confirm');
        button.style.backgroundColor = 'rgb(100, 150, 240)'
        return button;
    }
  </script>

{% endblock %}