{% extends "layout.html" %}
{% block content %}
<h1 id="products">Customers</h1>

<form action="/inventory/add-inventory">
  <input type="submit" class="big ui primary button" id="addCustomerBtn" value="Add Customer">
</form>

<table class="ui striped table inventory-table" id="inventoryTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Street Address</th>
        <th>City, State</th>
        <th>Zip Code</th>
        <th>E-mail address</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      
      {% for customer in customers %}
      <tr id="{{ product.id }}">
          <td class="inv-input">{{ customer.id }}</td>
          <td class="inv-input">{{ customer.fname }} {{customer.lname }}</td>
          <td class="cust-input">{{ customer.street }}</td>
          <td class="cust-input">{{ customer.city }}, {{ customer.state }}</td>
          <td class="cust-input">{{ customer.zip }}</td>
          <td class="cust-input">{{ customer.email }}</td>
          <td class="cust-input">{{ customer.phone }}</td>
          <td><input type="submit" value="Delete"></td>
          <td><input type="submit" value="Update" id="{{ customer.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>


{% endblock %}