{% extends "layout.html" %}
{% block content %}
<h1 id="tableTitle">Records</h1>

<form action="/records/add-record">
  <input type="submit" class="big ui primary button" id="addBtn" value="Add Record">
</form>

<table class="ui striped table records-table" id="recordsTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Year</th>
        <th>Artist</th>
        <th>Type</th>
        <th>Name</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      
      {% for record in records %}
      <tr id="{{ record.id }}">
          <td class="rec-input">{{ record.id }}</td>
          <td class="rec-input">{{ record.price }}</td>
          <td class="rec-input">{{ record.quantity }}</td>
          <td class="rec-input">{{ record.artist }}</td>
          <td class="rec-input">{{ record.year }}</td>
          <td class="rec-input">{{ record.type }}</td>
          <td class="rec-input">{{ record.name }}</td>
          <td><input type="submit" value="Delete"></td>
          <td><input type="submit" value="Update" id="{{ record.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>


{% endblock %}