{% extends "layout.html" %}
{% block content %}

<!-- CUSTOMERS VIEW -->
{% if customers or title == 'Customers' %}

<div class="customer-header">
    <h1 id="viewTitle">Customers</h1>

    <div class="btn-wrapper">
        <div class="add-btn">
            <form action="/customers/add-customer">
                <input type="submit" class="big ui primary button" value="Add Customer">
            </form>
        </div>

        <div class="view-btn">
            <form action="/purchases">
                <input type="submit" class="big ui primary button" value="View All Purchases">
            </form>
        </div>
    </div>

    <table class="ui striped table" id="dataTable">
        <thead>
        <tr>
            
            <th>First Name</th>
            <th>Last Name</th>  
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>E-mail address</th>
            <th>Phone Number</th>
            <th>Delete</th>
            <th>View Purchases</th>
            <th>Create Purchase</th>
            <th>Update Info</th>
        </tr>
        </thead>
        <tbody>

        {% if customers %}
        
        {% for customer in customers %}

        <tr id="{{ customer['customerID'] }}" name='customer'>
          <form action="/customers" method="POST">
            <td class="table-input" name="firstName">{{ customer['firstName'] }}</td>
            <td class="table-input" name="lastName">{{customer['lastName'] }}</td>
            <td class="table-input" name="street">{{ customer['street'] }}</td>
            <td class="table-input" name="city">{{ customer['city'] }}</td>
            <td class="table-input" name="state">{{ customer['state'] }}</td>
            <td class="table-input" name="zip">{{ customer['zip'] }}</td>
            <td class="table-input" name="email">{{ customer['email'] }}</td>
            <td class="table-input" name="phone">{{ customer['phone'] }}</td>
            
              <td style="display: none"><input type="hidden" name="customerID" value="{{ customer['customerID'] }}"></td>
              <td><input type="submit" value="Delete" id="{{ customer['customerID'] }}" name="submit_btn" class="ui red button"></td>
              <td><input type="submit" value="Purchases" class="ui blue button" id="{{ customer['customerID'] }}"></td>
            </form>
              <form action="/purchases/add-purchase/{{ customer['customerID'] }}">
                  <td><input type="submit" class="ui blue button" value="Add Purchase"></td>
              </form>
              <td><input type="submit" onclick="updateFunc(this)" value="Update" id="{{ customer['customerID'] }}" name="submit_btn" class="ui teal button" ></td>

        </tr>

        {% endfor %}
        {% endif %}
        
        
        </tbody>
        
    </table>
  </div>

<!-- DISTRIBUTORS VIEW -->
{% elif distributors %}
<div class="dist-header">
        <h1 id="viewTitle">Distributors</h1>

        <div class="btn-wrapper" id="distBtns">
          <form action="/distributors" method="POST">

            <div class="ui action input">
                <input type="text" placeholder="Search..." name="search">
                <input type="hidden" name="dist_id" value="">
              
                <input type="hidden" name="dist_id" value="">
                <select class="ui compact selection dropdown" id="searchFilter" name="option">
                  <option selected="" value="name" >Name</option>
                  <option value="city">City</option>
                </select>
                <div><button class="ui button" type="submit">Search</button></div>
              </div>
            </form>
            <div class="add-btn">
                <form action="/distributors/add-distributor">
                    <input type="submit" class="big ui primary button" value="Add Distributor" id="addDist">
                </form>
            </div>
    
            <div class="view-btn">
                <form action="/orders">
                    <input type="submit" class="big ui primary button" value="View Orders">
                </form>
            </div>
        </div>

        <table class="ui striped table distributor-table" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
                <th></th>
                
            </tr>
            </thead>
            <tbody>

                {% for distributor in distributors %}
                <tr id="{{ distributor['distributorID'] }}" name='distributor'>
                  
                <td class="table-input" name="name">{{ distributor['name'] }}</td>
                <td class="table-input" name="street">{{ distributor['street'] }}</td>
                <td class="table-input" name="city">{{ distributor['city'] }}</td>
                <td class="table-input" name="state">{{ distributor['state'] }}</td>
                <td class="table-input" name="zip">{{ distributor['zip'] }}</td>
                <td class="table-input" name="phone">{{ distributor['phone'] }}</td>
                
                <td><input type="submit" onclick="updateFunc(this)" name="update_btn" value="Update" class="ui teal button update-btn" id="{{ distributor['distributorID'] }}"></td>

                  
                
                <form action="distributors/view-inventory" method="POST">
                  <td style="display: none"><input type="hidden"  name="dist_id" value="{{ distributor['distributorID'] }}"></td>
                  <td style="display: none"><input type="hidden"  name="dist_name" value="{{ distributor['name'] }}"></td>

                  <td><input type="submit" class="ui blue button" value="View Inventory"></td>
                </form>
            </tr>
            {% endfor %}

            </tbody>
        </table>    
      </div>

<!-- RECORDS VIEW -->
{% elif (records or recordsPurch) %}

<div class="record-header">
{% if records %}
<h1 id="viewTitle">Records</h1>
{% endif %}
{% if recordsPurch %}
<h1 id="viewTitle">Select Records for Purchase</h1>
{% endif %}

<div class="btn-wrapper">
    <div class="add-btn">
        {% if records %}
        <form action="/records/add-record">
            <input type="submit" class="big ui primary button" value="Add Record">
        </form>
        {% endif %}
            {% if recordsPurch %}
              {% if id %}
                <input type="submit" class="big ui primary button" value="Submit Records for Order" id="{{ id }}">
              {% else %}
                <input type="submit" class="big ui primary button" value="Submit Records for Order">
              {% endif %}
            {% endif %}
    </div>
</div>

<div class="ui search">
  <input class="prompt" type="text" id="searchbar" placeholder="Search inventory..." style="width: 30%;">
  <div class="results"></div>
</div>

<table class="ui striped table" id="dataTable">
    <thead>
      <tr>
        <th>Price</th>
        <th>Quantity</th>
        <th>Year</th>
        <th>Artist</th>
        <th>Title</th>
        <th style="text-align: center;">Cover Art</th>
        <th>Distributor</th>
        
        {% if recordsPurch %}
        <th>Add</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      
      {% for record in records %}
      <tr id="{{ record[productID] }}">
          <td class="table-input">${{ record['price'] }}</td>
          <td class="table-input">{{ record['quantity'] }}</td>
          <td class="table-input">{{ record['year']}}</td>
          <td class="table-input">{{ record['artist'] }}</td>
          <td class="table-input">{{ record['name'] }}</td>
          <td class="table-input" style="text-align: center;"><img src="{{ record['img'] }}" alt=""></td>
          <td class="table-input">{{ record['distributor'] }}</td>
      </tr>
      {% endfor %}
      {% for record in recordsPurch %}
      <tr id="{{ record[productID] }}">
          <td class="table-input">${{ record['price'] }}</td>
          <td class="table-input">{{ record['quantity'] }}</td>
          <td class="table-input">{{ record['year']}}</td>
          <td class="table-input">{{ record['artist'] }}</td>
          <td class="table-input">{{ record['name'] }}</td>
          <td class="table-input"><img src="{{ record['img'] }}"></td>

          <td class="table-input">{{ record['distributor'] }}</td>
          <td><input class="ui teal button" type="submit" value="Add to Purchase" id="{{ record['productID'] }}"></td>
      </tr>
      {% endfor %}
      
    </tbody>
      
  </table>
</div>


<!-- PURCHASES VIEW -->
  {% elif purchases or title == 'Purchases' %}
  <h1 id="genericTitle">All Purchases</h1>

  <div class="btn-wrapper">
        <div class="add-btn">
            <form action="/purchases/add-purchase">
                <input type="submit" class="big ui primary button" value="Add Purchase">
            </form>
        </div>  
    </div>

<table class="ui striped table purchases-table" id="dataTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>First</th>
        <th>Last</th>
        <th>Method</th>
        <th>Total</th>
        <th>View Items</th>
      </tr>
    </thead>
    <tbody>
      {% if purchases %}
      {% for purchase in purchases %}
      <tr id="{{ purchase.id }}">

          <td class="table-input">{{ purchase['purchaseDate'] }}</td>
          <td class="table-input">{{ purchase['firstName'] }}</td>
          <td class="table-input">{{ purchase['lastName'] }}</td>
          <td class="table-input">{{ purchase['paymentMethod'] }}</td>
            <!-- {% if purchase.paid == True %}
          <td class="table-input">Confirmed</td>
            {% else %}
            <td class="table-input">Missing Payment</td>
            {% endif %} -->
          <td class="table-input">{{ purchase['totalPrice'] }}</td>
          
          <form action="/purchaseItems" method="POST">
            <td><input type="submit" value="View Items" class="ui blue button" id="{{ purchase.id }}"></td>
            <td><input type="hidden" name="purchaseID" value="{{ purchase['purchaseID'] }}" style="display: none;"></td>
        </form>
      </tr>
      {% endfor %}
      {% endif %}
      
      
    </tbody>
      
  </table>

  <!-- ORDERS VIEW -->
  {% elif orders %}
  <h1 id="genericTitle">All Open Orders</h1>
  <h2 id="genericTitle">Check Orders to Fill and Click Add To Inventory</h2>

  <div class="btn-wrapper">
    <div class="add-btn">
        <form action="/orders/add-order/select-distributor">
            <input type="submit" class="big ui primary button" value="Add Order">
        </form>
    </div>
        <div class="view-btn">
        <input type="submit" class="big ui primary button order-fill" value="Add To Inventory" id="fillOrder"></form>
          </div>
  </div>

<table class="ui striped table order-table" id="distOrderTable">
    <thead>
      <tr>
        <th>Distributor</th>
        <th>Order #</th>
        <th>Order Date</th>
        <th>Order Filled</th>
        <th>Order Total</th>
        <th>View Items</th>
      </tr>
    </thead>
    <tbody >
      
      {% for order in orders %}
      <tr id="{{ order.order_id }}">
          
          <td class="table-input">{{ order['distributor'] }}</td>
          <td class="table-input">{{ order['orderID'] }}</td>
          <td class="table-input">{{ order['orderDate'] }}</td>

        {% if order['orderFilled'] == False %}
        <form action="/orders/order-filled" method="POST">
          <td class="table-input checkbox" >
            <input type="checkbox" class="ui checkbox" data-tooltip="check to mark as received" data-position="right center" data-id="{{ order['orderID'] }}" data-dist="{{ order['distributorID'] }}">
          </td>
        </form>
        {% else %}
        <td class="table-input checkbox">
          <input type="checkbox" class="ui checkbox" checked="True" disabled="True">
        </td>
        {% endif %}
            
          <td class="table-input">${{ order['orderTotal'] }}</td>
          
          <form action="/orders/view-order" method="POST">
            <input style="display: none" type="hidden" name="order_id" value="{{ order['orderID'] }}">
            <td><input type="submit" value="View Items" class="ui teal button"></td>
            
          </form>
          
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  {% elif custpurchase %}
  <h1 id="genericTitle">{{title}}</h1>

<table class="ui striped table purchases-table" id="dataTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Method</th>
        <th>Total</th>
        <!-- <th>Delete</th>
        <th>Update</th>
        <th>Add Item</th> -->
        <th>View Items</th>
      </tr>
    </thead>
    <tbody>
      {% if custpurchase[0] != "noData" %}
      {% for purchase in custpurchase %}
      <tr id="{{ custpurchase['id'] }}">

          <td class="table-input">{{ purchase['purchaseDate'] }}</td>
          <td class="table-input">{{ purchase['paymentMethod'] }}</td>
            <!-- {% if purchase.paid == True %}
          <td class="table-input">Confirmed</td>
            {% else %}
            <td class="table-input">Missing Payment</td>
            {% endif %} -->
          <td class="table-input">{{ purchase['totalPrice'] }}</td>
          <!-- <td><input type="submit" value="Delete" class="ui red button"></td>
          <td><input type="submit" value="Update" class="ui teal button" id="{{ purchase.id }}"></td>
          <td><input type="submit" value="Add Item" class="ui blue button" id="{{ purchase.id }}"></td> -->
          <form action="/purchaseItems" method="POST">
            <td><input type="submit" value="View Items" class="ui blue button" id="{{ purchase.id }}"></td>
            <td><input type="hidden" name="purchaseID" value="{{ purchase['purchaseID'] }}" style="display: none;"></td>
        </form>
      </tr>
      {% endfor %}
      {% endif %}
      
      
    </tbody>
      
  </table>

{% elif inventory %}

<h1>Displaying Inventory For {{ dist_name }}</h1>

<div class="ui link cards">
                    
  {% for i in inventory %}
      
  <div class="card">
    <div class="image" id="albumImage">
      <img src={{ i['img'] }}>
    </div>
    <div class="content">
      <div class="header" id="albumTitle">{{ i['artist'] }} - {{ i['name'] }}</div>
      <div class="meta">
        <p id="albumYear">{{ i['year'] }}</p>
      </div>
      
    </div>
    
    <div class="extra content">
      <!-- <button type="submit" class="add-to-order">Add to Order</button> -->
      
      <span>
        <i class="money icon"></i>
          ${{ i['price'] }}
          
      </span>

      <span>
        quantity: {{ i['quantity'] }}
      </span>
      
    </div>
    
  </div>
  {% endfor %}






 {% elif ordered_items %}
 <h1 style="text-align: center;">Order Details For Order # {{orderID}}</h1>

 <table class="ui striped table">
    <thead>
      <th>Artist</th>
      <th>Title</th>
      <th style="text-align: center;">Cover Art</th>
      <th>Price</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      {% for item in ordered_items %}
      <tr>
        <td class="table-input">{{ item['artist'] }}</td>
        <td class="table-input">{{ item['name'] }}</td>
        <td class="table-input" style="text-align: center;"><img src="{{ item['img'] }}" alt=""></td>
        <td class="table-input">{{ item['price'] }}</td>
        <td class="table-input">{{ item['quantity'] }}</td>
      </tr>
    </tbody>


    {% endfor %}








{% elif purchaseItems %}
  <div class="record-header">
    <h1 id="viewTitle">Items</h1>
    
    <table class="ui striped table" id="dataTable">
        <thead>
          <tr>
            <th>Price</th>
            <th>Year</th>
            <th>Artist</th>
            <th>Name</th>
            <th>Distributor</th>
    
          </tr>
        </thead>
        <tbody>
          
          {% for record in purchaseItems %}
          <tr id="{{ record[productID] }}">
              <td class="table-input">${{ record['price'] }}</td>
              <td class="table-input">{{ record['year']}}</td>
              <td class="table-input">{{ record['artist'] }}</td>
              <td class="table-input">{{ record['name'] }}</td>
              <td class="table-input">{{ record['distributor'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
          
      </table>
    </div>



{% endif %}

{% endblock %}