{% extends "layout.html" %}
{% block content %}

<!-- CUSTOMERS VIEW -->
{% if customers %}

<div class="customer-header">
    <h1 id="viewTitle">Customers</h1>

    <div class="btn-wrapper">
        <div class="add-btn">
            <form action="/customers/add-customer">
                <input type="submit" class="big ui primary button" value="Add Customer">
            </form>
        </div>

        <div class="view-btn">
            <form action="/purchases">
                <input type="submit" class="big ui primary button" value="View All Purchases">
            </form>
        </div>
    </div>

    <table class="ui striped table" id="dataTable">
        <thead>
        <tr>
            
            <th>First Name</th>
            <th>Last Name</th>  
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>E-mail address</th>
            <th>Phone Number</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Purchases</th>
        </tr>
        </thead>
        <tbody>
        
        {% for customer in customers %}

        <tr id="{{ customer['customerID'] }}" name='customer'>
          <form action="/customers" method="POST">
            <td class="table-input" name="firstName">{{ customer['firstName'] }}</td>
            <td class="table-input" name="lastName">{{customer['lastName'] }}</td>
            <td class="table-input" name="street">{{ customer['street'] }}</td>
            <td class="table-input" name="city">{{ customer['city'] }}</td>
            <td class="table-input" name="state">{{ customer['state'] }}</td>
            <td class="table-input" name="zip">{{ customer['zip'] }}</td>
            <td class="table-input" name="email">{{ customer['email'] }}</td>
            <td class="table-input" name="phone">{{ customer['phone'] }}</td>
            
              <td><input type="hidden" name="customerID" value="{{ customer['customerID'] }}"></td>
              <td><input type="submit" value="Delete" id="{{ customer['customerID'] }}" name="submit_btn" class="ui red button"></td>
              <td><input type="submit" value="Purchases" class="ui blue button" id="{{ customer['customerID'] }}"></td>
              <td><input type="submit" value="Update" id="{{ customer['customerID'] }}" name="submit_btn" class="ui teal button" ></td>
            </form>
              
              
          

        </tr>

        {% endfor %}
        
        
        </tbody>
        
    </table>
  </div>

<!-- DISTRIBUTORS VIEW -->
{% elif distributors %}
<div class="dist-header">
        <h1 id="viewTitle">Distributors</h1>

        <div class="btn-wrapper">
            <div class="add-btn">
                <form action="/distributors/add-distributor">
                    <input type="submit" class="big ui primary button" value="Add Distributor">
                </form>
            </div>
    
            <div class="view-btn">
                <form action="/orders">
                    <input type="submit" class="big ui primary button" value="View Orders">
                </form>
            </div>
        </div>

        <table class="ui striped table distributor-table" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Delete</th>
                <th>Update</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                {% for distributor in distributors %}
                <tr id="{{ distributor['distributorID'] }}" name='distributor'>
                  <form action="/distributors" method='POST'></form>
                <td class="table-input" name="name">{{ distributor['name'] }}</td>
                <td class="table-input" name="street">{{ distributor['street'] }}</td>
                <td class="table-input" name="city">{{ distributor['city'] }}</td>
                <td class="table-input" name="state">{{ distributor['state'] }}</td>
                <td class="table-input" name="zip">{{ distributor['zip'] }}</td>
                <td class="table-input" name="phone">{{ distributor['phone'] }}</td>
                <td><input type="submit" value="Delete" class="ui red button"></td>
                <td><input type="submit" value="Update" class="ui teal button" id="{{ distributor['distributorID'] }}"></td>
                </form>

                <form action="/distributors/view-inventory" method="POST">
                  <td><input type="hidden" name="dist_id" value="{{ distributor['distributorID'] }}"></td>
                  <td><input type="hidden" name="dist_name" value="{{ distributor['name'] }}"></td>
                  <td><input type="submit" class="ui teal button" value="View Inventory"></td>
                </form>
            </tr>
            {% endfor %}

            </tbody>
        </table>    
      </div>

<!-- RECORDS VIEW -->
{% elif (records or recordsPurch) %}

<div class="record-header">

<h1 id="viewTitle">Records</h1>

<div class="btn-wrapper">
    <div class="add-btn">
        {% if records %}
        <form action="/records/add-record">
            <input type="submit" class="big ui primary button" value="Add Record">
        </form>
        {% endif %}
            {% if recordsPurch %}
            <input type="submit" class="big ui primary button" value="Submit Records for Order">
            {% endif %}
    </div>
</div>

<div class="ui search">
  <input class="prompt" type="text" placeholder="Search inventory..." style="width: 30%;">
  <div class="results"></div>
</div>

<table class="ui striped table" id="dataTable">
    <thead>
      <tr>
        <th>Price</th>
        <th>Quantity</th>
        <th>Year</th>
        <th>Artist</th>
        <th>Name</th>
        <th>Distributor</th>
        {% if records %}
        <th>Update</th>
        {% endif %}
        {% if recordsPurch %}
        <th>Add</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      
      {% for record in records %}
      <tr id="{{ record['productID'] }}">
          <td class="table-input">${{ record['price'] }}</td>
          <td class="table-input">{{ record['quantity'] }}</td>
          <td class="table-input">{{ record['year']}}</td>
          <td class="table-input">{{ record['artist'] }}</td>
          <td class="table-input">{{ record['name'] }}</td>
          <td class="table-input">{{ record['distributor'] }}</td>
          <td><input class="ui teal button" type="submit" value="Update" id="{{ record['productID'] }}"></td>
      </tr>
      {% endfor %}
      {% for record in recordsPurch %}
      <tr id="{{ record['productID'] }}">
          <td class="table-input">${{ record['price'] }}</td>
          <td class="table-input">{{ record['quantity'] }}</td>
          <td class="table-input">{{ record['year']}}</td>
          <td class="table-input">{{ record['artist'] }}</td>
          <td class="table-input">{{ record['name'] }}</td>
          <td class="table-input">{{ record['distributor'] }}</td>
          <td><input class="ui teal button" type="submit" value="Add to Order" id="{{ record['productID'] }}"></td>
      </tr>
      {% endfor %}
      
    </tbody>
      
  </table>
</div>


<!-- PURCHASES VIEW -->
  {% elif purchases %}
  <h1 id="genericTitle">Purchases</h1>

  <div class="btn-wrapper">
        <div class="add-btn">
            <form action="/purchases/add-purchase">
                <input type="submit" class="big ui primary button" value="Add Purchase">
            </form>
        </div>  
    </div>

<table class="ui striped table purchases-table" id="dataTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Method</th>
        <th>Total</th>
        <th>Update</th>
        <th>Add Item</th>
        <th>View Items</th>
      </tr>
    </thead>
    <tbody>
      
      {% for purchase in purchases %}
      <tr id="{{ purchase.id }}">

          <td class="table-input">{{ purchase['purchaseDate'] }}</td>
          <td class="table-input">{{ purchase['paymentMethod'] }}</td>
            <!-- {% if purchase.paid == True %}
          <td class="table-input">Confirmed</td>
            {% else %}
            <td class="table-input">Missing Payment</td>
            {% endif %} -->
          <td class="table-input">{{ purchase['totalPrice'] }}</td>
          
          <td><input type="submit" value="Update" class="ui teal button" id="{{ purchase.id }}"></td>
          <td><input type="submit" value="Add Item" class="ui blue button" id="{{ purchase.id }}"></td>
          <td><input type="submit" value="View Items" class="ui blue button" id="{{ purchase.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  <!-- ORDERS VIEW -->
  {% elif orders %}
  <h1 id="genericTitle">Distributor Orders</h1>

  <div class="btn-wrapper">
    <div class="add-btn">
        <form action="/orders/add-order/select-distributor">
            <input type="submit" class="big ui primary button" value="Add Order">
        </form>
    </div>
</div>

<table class="ui striped table order-table" id="dataTable">
    <thead>
      <tr>
        <th>Distributor</th>
        <th>Order Date</th>
        <th>Order Filled</th>
        <th>View Items</th>
      </tr>
    </thead>
    <tbody>
      
      {% for order in orders %}
      <tr id="{{ order.order_id }}">
          
          <td class="table-input">{{ order['distributor'] }}</td>
          <td class="table-input">{{ order['orderDate'] }}</td>
          {% if order['orderFilled'] == True %}
          <td class="ui checkbox">
            <input type="checkbox" name="public" checked='True'>
            <label></label>
          </td>
            {% else %}
            <td class="ui checkbox">
              <input type="checkbox" name="public">
              <label></label>
            </td>
          {% endif %}
          <td><input type="submit" value="View Items" class="ui teal button" id="{{ order.id }}"></td>
          
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

  {% elif custpurchase %}
  <h1 id="genericTitle">{{title}}</h1>

  <div class="btn-wrapper">
        <div class="add-btn">
            <form action="/purchases/add-purchase">
                <input type="submit" class="big ui primary button" value="Add Purchase">
            </form>
        </div>  
    </div>

<table class="ui striped table purchases-table" id="dataTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Method</th>
        <th>Total</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Add Item</th>
        <th>View Items</th>
      </tr>
    </thead>
    <tbody>
      
      {% for purchase in custpurchase %}
      <tr id="{{ custpurchase['id'] }}">

          <td class="table-input">{{ purchase['purchaseDate'] }}</td>
          <td class="table-input">{{ purchase['paymentMethod'] }}</td>
            <!-- {% if purchase.paid == True %}
          <td class="table-input">Confirmed</td>
            {% else %}
            <td class="table-input">Missing Payment</td>
            {% endif %} -->
          <td class="table-input">{{ purchase['totalPrice'] }}</td>
          <td><input type="submit" value="Delete" class="ui red button"></td>
          <td><input type="submit" value="Update" class="ui teal button" id="{{ purchase.id }}"></td>
          <td><input type="submit" value="Add Item" class="ui blue button" id="{{ purchase.id }}"></td>
          <td><input type="submit" value="View Items" class="ui blue button" id="{{ purchase.id }}"></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
      
  </table>

{% elif inventory %}

<h1>Displaying Inventory For {{ dist_name }}</h1>

<div class="ui link cards">
                    
  {% for i in inventory %}
      
  <div class="card">
    <div class="image" id="albumImage">
      <img src={{ i['img'] }}>
    </div>
    <div class="content">
      <div class="header" id="albumTitle">{{ i['title'] }}</div>
      <div class="meta">
        <p id="albumYear">{{ i['year'] }}</p>
      </div>
      
    </div>
    
    <div class="extra content">
      <!-- <button type="submit" class="add-to-order">Add to Order</button> -->
      
      <span>
        <i class="money icon"></i>
          ${{ i['price'] }}
          
      </span>

      <span>
        quantity: {{ i['quantity'] }}
      </span>
      
    </div>
    
  </div>
  {% endfor %}


 {% elif title == 'Order Confirmed'%}
  <h1>Order Confirmed</h1>

{% endif %}

{% endblock %}